/* ===============================================================================================================================
   ======================================================= Import ================================================================
   ===============================================================================================================================
*/
// Font
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@import url("https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0");

// Normalize
@import "normalize";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Bootstrap
@import "bootstrap/scss/bootstrap";

/* ===============================================================================================================================
   ======================================================= Variables/Mixin ======================================================
   ===============================================================================================================================
*/
$colorBase: #03172b;
$colorSecundario: #cda434;
$colorTerciario: #fff;
$NoMostrar: none;
$hover: rgba(0, 0, 0, 0.5);

@mixin a {
    font-size: 2rem;
    text-decoration: $NoMostrar;
    color: $colorTerciario;
}

@mixin btn {
    height: 5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 4rem;
    text-transform: uppercase;
    background-color: $colorSecundario;
    border-color: $colorSecundario;
    border-style: solid;
    border-radius: 1rem;
    width: 20rem;
    cursor: pointer;
    color: $colorBase;
    font-size: 1.5rem;
    font-weight: bold;
}

@mixin paddingForm {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

@mixin before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
}

/* ===============================================================================================================================================
   ======================================================= CSS ============================================================================
   ===============================================================================================================================================
*/
* {
    font-family: "Abhaya Libre";
    font-size: 62.5%;
}

body {
    background-color: $colorBase;
    font-size: 16px;
    margin: 0rem;
}

/* ===============================================================================================================================================
     ======================================================= Encabezado ============================================================================
     ===============================================================================================================================================
  */
header {
    color: $colorTerciario;
    text-align: center;
    padding-bottom: 8rem;
    background-size: cover;

    h1 {
        margin-top: 10rem;
        font-size: 7rem;
    }
}

.reservas {
    background-image: url(../../public/img/EncabezadoReserva.png);
    background-size: cover;
}

.perfil {
    background-image: url(../../public/img/EncabezadoPerfil.png);
    background-size: cover;
}

.contactos {
    background-image: url(../../public/img/EncabezadoContacto.png);
    background-size: cover;
}

.menus {
    background-image: url(../../public/img/EncabezadoMenu.png);
    background-size: cover;
}

.sesion {
    background-image: url(../../public/img/EncabezadoLogin.jpg);
    background-size: cover;
}

/* 
 ======================================================= Index =========================================================================
*/
.index {
    background-image: url(../../public/img/Index.svg);
    background-size: cover;
    height: 85rem;
}

.titulo-index {
    color: $colorBase;
    text-shadow: 2px 2px $colorSecundario;
    margin-top: 13rem;
    font-size: 17rem;
}

#true {
    font-size: 6rem;
    color: $colorSecundario;
    text-shadow: 3px 3px $colorBase;
}

#botonIndex {
    @include btn;
    background-color: $hover;
    border: 1px solid;
    border-color: $colorSecundario;
    color: $colorSecundario;
    margin-top: 3rem;
}

/* ===============================================================================================================================================
     ======================================================= Barra de navegacion ===================================================================
     ===============================================================================================================================================
  */
nav {
    display: flex;
    padding: 2.5rem;
    background: $colorBase;
    opacity: 90%;

    #check,
    .boton {
        display: $NoMostrar;
    }
}

.links {
    margin-top: 1rem;
    width: 100%;
    font-size: 3rem;
    text-align: center;

    a {
        @include a;
        padding: 1.5rem;
    }

    .reserva {
        color: #021222;
    }

    a:hover {
        background-color: $hover;
    }
}

#login {
    display: $NoMostrar;
}

.reserva {
    font-weight: bold;
    background: $colorSecundario;
    border: 1px solid;
    border-color: $colorSecundario;
    position: relative;
    box-shadow: 2px 2px 2px black;
}

.reserva:hover {
    color: $colorSecundario;
}

.reserva:before {
    @include before;
}

.reserva:hover:before {
    width: 100%;
}

/* ===============================================================================================================================================
     ======================================================= Indice ============================================================================
     ===============================================================================================================================================
  */
.indice {
    color: $colorSecundario;
    font-weight: bold;
    text-shadow: 2px 2px #000a1a;
    margin-left: 10rem;
    margin-top: 1.5rem;

    h2 {
        font-size: 1.25rem;
    }
}

/* ===============================================================================================================================================
     ======================================================= Contenido ============================================================================
     ===============================================================================================================================================
  */
main {
    color: $colorTerciario;
    margin-top: 5rem;
}

h3 {
    font-weight: bold;
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

// Control de parametros invalidos
.invalid-feedback {
    font-size: 1.5rem;
}
/* ===============================================================================================================================================
     ======================================================= Formularios =========================================================================
     ===============================================================================================================================================
  */
#formulario {
    background-color: #000a1a;
    width: 90rem;
    box-shadow: 3px 3px 3px black;
    @include paddingForm;
    margin-bottom: 8rem;
}

#formulario2 {
    background-color: #000a1a;
    margin-bottom: 8rem;
    box-shadow: 3px 3px 3px black;
    @include paddingForm;
}

input {
    height: 4.5rem;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    color: black;
}

#validacion {
    background-color: red;
}

#msj {
    font-size: 2rem;
    text-align: center;
}

#botonFormulario {
    @include btn;
}

#botonFormulario:hover {
    color: $colorSecundario;
    background-color: $hover;
    border: 1px solid;
    border-color: $colorSecundario;
}

textarea {
    width: 25rem;
    font-size: 2rem;
    height: 17rem;
    max-height: 25rem;
    color: black;
}

#menu-select {
    font-size: 2.3rem;
}

#tarjeta-select {
    font-size: 2rem;
}

#lista-reservas {
    font-size: 2rem;
}
/* 
  ======================================================= Formulario recuadro ===========================================================
*/
.recuadro {
    background-color: #000a1a;
    width: 90rem;
    margin: 3rem auto;
    margin-bottom: 10rem;
    border-radius: 3rem;
    box-shadow: 3px 3px 3px black;
    @include paddingForm;

    h3 {
        text-align: center;
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }

    h4 {
        font-size: 1rem;
    }
}

#lista {
    display: block;
    border-top: 1px solid $colorSecundario;
    font-size: 2rem;
    padding: 1rem;
}

a {
    @include a;
}

#entrada {
    font-size: 2.3rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
}

.form-control {
    font-size: 2rem;
}

.link-light {
    margin-top: 1rem;
}

/* ===============================================================================================================================================
     ======================================================= Calendario =========================================================================
     ===============================================================================================================================================
  */
#calendario {
    font-size: 4rem;
    padding: 1.5rem;
    margin-bottom: 5rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px black;
}

.fc-event-main {
    font-size: 1.5rem;
}

.fc-daygrid-event {
    height: 2.5rem;
}

.fc-daygrid-day-frame {
    height: 6rem;
}
/* ===============================================================================================================================================
     ======================================================= Menus de la carta =========================================================================
     ===============================================================================================================================================
  */
#menu {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#menu-titulo {
    margin-top: 5rem;
    color: $colorSecundario;
    text-shadow: 2px 2px #000a1a;
}

fieldset {
    padding: 0.75rem;
    border: 3px solid #000a1a;
    box-shadow: 2px 2px 2px black;
    background-color: $colorSecundario;
}

/* ===============================================================================================================================================
     ======================================================= Tablas =========================================================================
     ===============================================================================================================================================
  */
table {
    color: $colorTerciario;
}

tr {
    color: $colorTerciario;
}

/* ===============================================================================================================================================
     ======================================================= Perfil =========================================================================
     ===============================================================================================================================================
  */
#perfil {
    margin-bottom: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

#botonPerfil {
    @include btn;
    width: 100%;
}

#botonPerfil:hover {
    color: $colorSecundario;
    background-color: $hover;
    border: 1px solid;
    border-color: $colorSecundario;
}

/* ===============================================================================================================================================
     ======================================================= Footer =========================================================================
     ===============================================================================================================================================
  */
.footer {
    background: $colorSecundario;
    color: $colorBase;

    #sobre-nosotros {
        i {
            font-size: 3rem;
        }
    }
    #contactos-empresa {
        i {
            font-size: 1.5rem;
        }
    }
    #copyright p {
        border-top: 1px solid $colorBase;
        color: $colorBase;
    }
}

/* ===============================================================================================================================================
     ======================================================= Responsive ============================================================================
     ===============================================================================================================================================
  */
@media screen and (max-width: 75rem) {
    .recuadro {
        width: 95%;
    }
    #imagen-login {
        display: none;
    }
    #Logo {
        display: none;
    }
}

@media screen and (max-width: 55rem) {
    #perfil {
        padding: 2rem;
    }

    #calendario {
        display: block;
    }

    #horasDisponibles {
        display: flex;
    }
}

/* ===============================================================================================================================================
     ======================================================= Menu responsive ============================================================================
     ===============================================================================================================================================
  */
@media (max-width: 43rem) {
    #tabla-misreservas {
        width: 75%;
    }
    #encabezado-tabla {
        font-size: 3rem;
    }

    #contenido-tabla {
        font-size: 3rem;
    }

    .titulo-index {
        font-size: 10rem;
        margin-top: 16rem;
    }

    #true {
        font-size: 3rem;
        color: $colorSecundario;
        text-shadow: 3px 3px $colorBase;
    }

    #menu-titulo {
        margin-top: 2rem;
    }

    #perfil {
        padding: 1rem;
    }

    header h1 {
        font-size: 6.5rem;
    }

    .container {
        width: 50%;
    }

    .imagenLogo {
        display: $NoMostrar;
    }

    nav {
        .boton {
            display: inline-block;
            position: absolute;
            top: 0rem;
            right: 0rem;
        }

        .boton label {
            display: inline-block;
            padding: 3rem;
        }

        .boton label:hover,
        #check:checked ~ .boton label {
            cursor: pointer;
        }

        .links a {
            display: block;
            color: $colorBase;
            font-size: 1.6rem;
        }

        .links a:hover {
            color: $colorSecundario;
        }

        #check:not(:checked) ~ .links {
            display: $NoMostrar;
        }

        #check:checked ~ .links {
            height: 22.2rem;
        }
    }

    .links {
        position: absolute;
        text-align: center;
        width: 100%;
        background-color: $colorBase;
        top: 11rem;
        right: 0rem;

        .reserva {
            font-weight: bold;
        }
    }

    #login {
        display: block;
    }

    .transicion {
        background: $colorSecundario;
        border: 1px solid;
        border-color: $colorSecundario;
        position: relative;
        font-weight: bold;
    }

    .transicion:before {
        @include before;
    }

    .transicion:hover:before {
        width: 100%;
    }
}

/* ===============================================================================================================================================
     ======================================================= Hoja de estilo auditiva ============================================================================
     ===============================================================================================================================================
  */
h1,
h2,
h3,
h4,
h5,
h6 {
    voice-family: male;
    stress: 20;
    richness: 90;
    speak: normal;
}

p {
    voice-family: male;
    stress: 15;
    richness: 50;
    speak: normal;
}
/* ===============================================================================================================================================
     ======================================================= Animaciones ============================================================================
     ===============================================================================================================================================
  */
#animacion {
    transition: all 0.5s ease-in-out;
}

#animacion:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

#animacion2 {
    transition: all 0.5s ease-in-out;
}

#animacion2:hover {
    opacity: 65%;
    transform: scale(0.9);
    transition: transform 1s;
}

#text {
    transition: all 0.5s ease-in-out;
}

#text:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

#true {
    transition: all 0.5s ease-in-out;
}

#true:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

#menu-titulo {
    transition: all 0.5s ease-in-out;
}

#menu-titulo:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

#botonIndex {
    transition: all 0.5s ease-in-out;
}

#botonIndex:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

#menu {
    animation: animacionImagen 1s ease-in-out;
}

@keyframes animacionImagen {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#text {
    animation: animacionImagen 1s ease-in-out;
}

@keyframes animacionImagen {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#true {
    animation: animacionImagen 1s ease-in-out;
}

@keyframes animacionImagen {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#botonIndex {
    animation: animacionImagen 1s ease-in-out;
}

@keyframes animacionImagen {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#animacion2 {
    animation: animacionImagen 1s ease-in-out;
}

@keyframes animacionImagen {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
